{% extends 'base.html' %}
{% block content %}

    <style>
        body { font-family: sans-serif; margin: 40px; }
        .success { color: green; font-weight: bold; }
        .error { color: red; font-weight: bold; }
        .score-box { background-color: #f4f4f4; padding: 10px; border-radius: 5px; width: fit-content; }
        .btn { padding: 5px 15px; margin-left: 10px; cursor: pointer; }
    </style>
    {% csrf_token %}
    <br>
    <div class="text-center">
       <h1> 📚 NonFiction Titles by Norita Sieffert 📚 </h1>
        </div>
            <hr>

    <div class="verse_container" style="margin-left: 75px">
        <p><strong>Title:</strong> {{ next_title.title }}
        <p><strong>Synopsis:</strong> {{ next_title.synopsis }}</p>
    </div>
<div class="separator"></div>

<style>
.separator {
    border-top: 4px solid blue;
    margin: 20px 0;
}
</style>

       <form action="{% url 'nonfiction_with_id' next_title.id %}" method="get" class="next-button">
    <button type="submit" style="margin-left: 75px">Next</button>
</form>

<style>
.verse-container {
    min-height: 150px; /* adjust so it fits your longest verse */
}

.next-button {
    margin-top: 10px;
}
</style>
<br>
<br>
<div class="pictures">
       {% load static %}
   <a href="https://www.amazon.com/Meditations-Acts-Part-One-Chapters/dp/B0DFBV9VVB/">
       <img src="{% static 'images/acts1.png' %}" style='width:220px' alt="centered"> </a>
       <a href="https://www.amazon.com/dp/B0DTT8C1RC/">
       <img src="{% static 'images/acts2-2.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Meditations-Acts-Part-Three-Twenty-One/dp/B0FD3YZGRR/">
       <img src="{% static 'images/acts 3.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Meditations-Acts-Part-Four-Twenty-eight/dp/B0G4QWRXSR/">
       <img src="{% static 'images/acts4.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/dp/B0DRN2G3YJ/">
       <img src="{% static 'images/becoming.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/dp/B0DBZ7QVYL">
       <img src="{% static 'images/bestlife.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Daniel-A-365-Day-Devotional/dp/B0D1NPVVSF/">
       <img src="{% static 'images/Daniel.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Lyrics-Scripture-Hymns-Through-Bible/dp/B0DNT32RBQ">
       <img src="{% static 'images/lyrics.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Meditations-Mark-Norita-Sieffert-ebook/dp/B09PF7C599/">
       <img src="{% static 'images/mark.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Meditations-Non-Pauline-Epistles-Hebrews-Through-ebook/dp/B0BYYC2CP8">
       <img src="{% static 'images/nonpaul.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/dp/B0DC4Q4W9C/">
       <img src="{% static 'images/still.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Transformed-Becoming-Christ-Like-Areas-Life/dp/1718876025/">
       <img src="{% static 'images/transformed.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Treasures-Old-New-Worshiping-Testaments-ebook/dp/B018IJ9SV6/">
       <img src="{% static 'images/treasure.png' %}" style='width:220px' alt="centered"> </a>
           <a href="https://www.amazon.com/Wise-Wicked-Learn-Selected-Women-ebook/dp/B0BZ35DDT6">
       <img src="{% static 'images/wicked.png' %}" style='width:220px' alt="centered"> </a>
     <a href="https://www.amazon.com/Thirty-Days-Secret-Place-Powerful/dp/B0FQ41W929/">
       <img src="{% static 'images/thirty.png' %}" style='width:220px' alt="centered"> </a>
</div>

<style>
.pictures {
    align-items: center;
    padding: 10px;
    border: blue;
    margin-left: 50px;
;

}
</style>
    <style>
        H1 {
        text-align: center;
     }
    H3 {
        padding: 25px;
    }
      {
         align-content: center;
     }

    </style>
</div>

{% endblock %}