{% extends 'base.html' %}
{% block content %}

    <style>body { font-family: sans-serif; margin: 40px; }</style>
<br>
<div class="margin-left: 75px">
    <h1><strong> ❓ Welcome to the Quiz Game! ❓ </strong></h1>
    <p style="margin-left: 65px"><strong>Please select your game options below:</strong></p>

    <form method="POST">
        {% csrf_token %}
<br>
    <p style="margin-left: 65px">
    <label for="category">Choose a Category:</label>
    <select id="category" name="category">
        <!-- Add the "All" option here -->
        <option value="All">All Categories</option>
        {% for cat in categories %}
            <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
    </select>
    </p>
    <p style="margin-left: 65px">
    <label for="difficulty">Choose Difficulty:</label>
    <select id="difficulty" name="difficulty">
        <!-- Add the "All" option here -->
        <option value="All">All Difficulties</option>
        {% for diff in difficulties %}
            <option value="{{ diff }}">{{ diff }}</option>
        {% endfor %}
    </select>
</p>
<br>
        <button type="submit" style="margin-left: 65px; cursor: pointer;">Start Quiz! 🚀</button>
        </div>
    </form>
<br>
<div class="separator"></div>

<style>
.separator {
    border-top: 4px solid blue;
    margin: 20px 0;
}
</style>
{% endblock %}